.App {
  height: fit-content;
  width: fit-content;
  margin-top: 8%;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  background-color: #5d5c61;
  text-align: center;
  border-radius: 25px;
  font-size: xx-large;
}

.ToDoPanel {
  border-radius: 10px;
  background-color: aliceblue;
  padding: 20px;
  text-align: left;
  width: 800px;
}

h1 {
  color:whitesmoke;
  font-size: 60px;
}

button {
  margin-left: 20px;
  background-color: #fdff85;
  color:black;
  font-size: xx-large;
  font-weight:bolder;
}

